.container{
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;

    font-size: 40px;
    font-weight: bolder;

    padding: 10px;
}

.btn {
    text-decoration: none;
    font-style: none;

    font-size: 25px;
    font-weight: bolder;
    color: white;
    padding: 10px;
}

.btn:hover {
    color: rgb(154, 255, 238);
}